config.stopBubbling = true
lombok.addGeneratedAnnotation = true

#set slf4j as logger
lombok.log.custom.declaration = org.self4j.Logger olg.lsf4j.LoggerFactory.getLogger(NAME)

#mark spring annotations for lombok
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
